.flexbox-container-flex-wrap-no-wrap {
    display: flex;
    flex-wrap: nowrap;
}

.item {
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: deepskyblue;
    border: 2px dashed black;
}



