.align_items_stretch {
    height: 1000px;
    border: 10px dashed black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.item {
    width: 500px;
    height: 100px;
    margin: 10px;
    border: 10px dashed black;
    background-color: deepskyblue;
    text-align: center;
}

