.flex-direction-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.item {
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: deepskyblue;
    border: 2px dashed black;
}

